.cardClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color:rgb(253, 253, 255);
}
.card-container{
    width: 60rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px gray;
    display: flex;
    flex-direction: row;
    margin:0.5rem;
    background-color: white;
    height: fit-content;
    justify-content: space-between;
}
.card-title{
    margin: 0.5rem 5%;
}

.card-submit-button{
    text-align: center;
    width: 90%;
    border-radius: 5px;
    padding:0.5rem 1rem;
    background-color: blue;
    color: white;
    text-decoration:none;
    margin: 0.5rem;
}

.image-container{
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex: 1;
  
}
.image-container img {
    width: 100%; 
    /* height: 1000%; */
    /* object-fit: cover; */
    border-radius: 1rem;
  }

  .form-container{
    flex: 1;
  }