.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-image: linear-gradient(
      115deg,
     rgba(1, 1, 1, 0.731),
      rgba(1, 1, 1, 0.728)
 ),
    url('../../public/backgroundwall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .about-content {
    width: 50%;
    color:white;
    box-shadow: 10rem;
  }
  
  .about-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .about-content p {
    margin-bottom: 1rem;
  }
  
  .about-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .about-content ul {
    list-style-type: disc;
    margin-left: 2rem;
  }
  
  .about-image {
    width: 40%;
  }
  
  .about-image img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  